<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
  <title>yougo mainPage</title>
      <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div class="container">
	<section id="content">
		<table>
			<h1>用户登录</h1>
			<div>
				<input type="text" required="用户名不能为空" id="userName" />
			</div>
			<div>
				<input type="password" required="密码不能为空" id="password"/>
			</div>
			<div>
				<!--<input type="submit" value="Login" />-->
				<button id="submit">登录</button>
				<a href="#">Lost your password?</a>
				<a href="#">Register</a>
			</div>
		</table><!-- form -->
		<div class="button">
			<a href="#">Download source file</a>
		</div><!-- button -->
	</section><!-- content -->
</div><!-- container -->
	<script src="js/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script src="js/index.js"></script>
	<script type="text/javascript">
    $(document).ready(function() {
        $('#submit').click(function () {
            var formData = new Object;
            formData.userName = $('#userName').val();
            formData.password = $('#password').val();
            var JsonData = JSON.stringify(formData);
            console.log(JsonData);
            $.ajax({
                type: "POST",
                url : "/checkAccount",
                dataType : 'text',
                contentType : "application/json",
                data : JsonData,
                success : function(data) {
                    alert(data);
                }
            });
        });
    });
</script>
</body>
</html>
